body
{
  margin: 0;
  overflow-y: scroll;
}

header
{ 
  position: fixed;
  top: 0;
  width: 100%;
  
  display: flex;
  align-items: stretch;
  
  background-color: #333;
}

#header-title, #phantom-title
{
  margin: 5px 10px;
  
  font-size: 24px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

.head-item
{
  padding: 0px 15px;
  
  font-size: 16px;
  text-decoration: none;
  color: white;
  border: none;
  
  display: flex;
  align-items: center;
  
}

#navbar
{
  margin-left: auto;
  
  display: flex;
  align-items: stretch;
  flex-direction: row-reverse;
}

#navbar .active-page
{
  background-color: #04AA6D;
}


#main-img
{
  width: 100%;
  height: 30vw;
  object-fit: cover;
}

#page-content
{
  padding: 20px;
}

#page-content li + li {
  margin-top: 10px;
}

.inline-title {
  font-weight: bold;
  color: #2c3e50;
  margin-right: 0.5em;
}


@media (max-width: 1024px) {
    #header-title, #phantom-title
    {
      font-size: 15px;
    }
    .head-item
    {
      font-size: 12px;
      padding: 0px 10px;
    }
}
