#navbar
{
  margin-left: 0;
}

#historyBar
{
  display: flex;
  align-items: stretch;
}

#newgameBar
{
  margin-left: auto;
  
  display: flex;
  align-items: stretch;
}

#undoButton, #redoButton, #startButton
{
  background-color: #04AA6D;
}

.sizeButton
{
  border: 5px solid #333;
  background-color: #B7950B;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


#gameContainer
{
  height: 100vh;
  display: flex;
  flex-flow: column;
  overflow-y: hidden;
}

#svg
{
  flex-grow: 1;
  overflow-y: hidden;
}

.free-cell{
  stroke : black;
  stroke-width : 0.3;
  fill : #B7950B;
  opacity: 1;
  transition: opacity 0.3s ease-out;
}
.free-cell:not(.killed-cell):hover{
  opacity: 0.7;
}
.occupied-cell-A{
  stroke : black;
  stroke-width : 0.3;
  fill : #1A5276;
}
.occupied-cell-B{
  stroke : black;
  stroke-width : 0.3;
  fill : #A93226;
}
.corner-cell{
  stroke : black;
  stroke-width : 0.7;
}
.killed-cell{
  opacity : 0.2;
}


@media (max-width: 500px)
{
  #historyCount
  {
    display: none !important;
  }
}

@media (max-width: 400px)
{
  #redoButton
  {
    display: none !important;
  }
}